src/main/java/com/itsupportme/services/provider/usps/dto/track/request/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TrackFieldRequest" type="TrackFieldRequestType"/>
  <xs:complexType name="TrackIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ID"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TrackFieldRequestType">
    <xs:sequence>
      <xs:element type="TrackIDType" name="TrackID"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="USERID"/>
  </xs:complexType>
</xs:schema>